.idea
.fleet
logs
.env
/www/bitrix
!/www/bitrix/.settings_extra.php
/www/upload
/www/test
/www/local/vendor
/www/local/assets/dist
/www/local/import

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
