@use "@/base.scss";

.content-gallery-item {
    position: relative;

    &__img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4/3;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(#000, 0.2);
        opacity: 0;
        transition: opacity base.$tr-time;
        pointer-events: none;
    }

    &__zoom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: base.clampFluid(10);
        font-size: 2em;
        border-radius: 50%;
        color: #EFEAE6;
    }

    &__wrap {
        display: block;
        position: relative;
        overflow: hidden;
        background: #aaa;
    }

    &__caption {
        margin-top: 1em;
        @include base.p1;
    }

    &:hover {
        .content-gallery-item {
            &__overlay {
                opacity: 1;
            }
        }
    }
}