@use "@/base.scss";

.content-text {
    h1 {
        margin: .5em 0;
        @include base.h1;
    }

    h2 {
        @include base.h2;
    }

    h3 {
        @include base.h3;
    }

    h4 {
        @include base.h4;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1.2em 0 .5em;
    }

    p {
        margin-bottom: .8em;
    }

    p,
    li {
        @include base.p1;
    }

    a {
        text-decoration: none;
        color: base.$red;
    }

    img {
        display: block;
        margin: base.clampFluid(60) auto;
        max-width: 100%;
        width: auto !important;
        height: auto !important;
    }

    ul,
    ol {
        padding-left: base.clampFluid(30);
        margin: 1em 0;
    }

    li {
        &:not(:last-child) {
            margin-bottom: .5em;
        }
    }

    ul {
        list-style: none;

        li {
            position: relative;

            &::before {
                content: '';
                font-size: .5em;
                width: .8em;
                height: .8em;
                display: inline-block;
                position: absolute;
                left: -2em;
                top: .6em;
                transform: rotate(45deg);
                border: 2px solid base.$red;
            }
        }
    }

    ol {
        list-style: decimal;

        li {
            &::marker {
                color: base.$red;
                font-weight: 600;
            }
        }
    }

    .table {
        overflow: auto;
        border-radius: 0 base.clampFluid(50) 0 0;
    }

    table {
        min-width: 100%;
        border: 0;
        border-spacing: 0;
        border-collapse: collapse;
        overflow: hidden;

        th {
            color: base.$white;
            text-align: left;
            text-transform: uppercase;
            @include base.h3;
        }

        td {
            @include base.p1;
        }

        td,
        th {
            padding: base.clampFluid(20) base.clampFluid(30);
        }
    }

    > :first-child {
        margin-top: 0 !important;
    }

    > :last-child {
        margin-bottom: 0 !important;
    }
}