@use "sass:math";

$tr-time: 0.4s;

$black: #434345;
$white: #fff;
$red: #BE0F34;
$bg: #F2F2F2;


@function calcFluid($f-min, $f-max, $v-min: 320px, $v-max: 1279px) {
    $k: math.div($f-max - $f-min, $v-max - $v-min);
    $b: $f-min - $k * $v-min;

    $b: $b * 1px;

    @return calc(#{$k} * 100vw + #{$b});
}

// Работает на ПК как обычный hover, а на мобилке как active и анимация не зависает, как будто она в hover
@mixin hover {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; // убирает стандартное подсвечивание элемента при касании на устройствах iOS
    touch-action: manipulation; // позволяет браузеру оптимизировать обработку событий касания, например, предотвращая двойной тап для зума

    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none),
    (hover: on-demand) {

        // применяются на устройствах, не поддерживающих наведение или поддерживающих его по запросу, что характерно для тачскринов
        &:active {
            @content;
        }
    }
}

@function clampFluid($clamp-min, $clamp-max: 'None', $calc-1: 'None', $calc-2: 'None', $w-min: 'None', $w-max: 'None') {
    @if $clamp-max =='None' {
        $clamp-max: $clamp-min;
        $clamp-min: $clamp-max * math.div(2, 3);
    }


    $clamp-min-rend: 'None';
    $clamp-max-rend: 'None';
    $w: math.div($clamp-max, 1920) * 100 * 1vw;

    @if $clamp-max < $clamp-min {
        $clamp-min-rend: $clamp-max * 1px;
        $clamp-max-rend: $clamp-min * 1px;
    }

    @else {
        $clamp-max-rend: $clamp-max * 1px;
        $clamp-min-rend: $clamp-min * 1px;
    }

    @if $calc-1 =='None' {
        @return clamp($clamp-min-rend, $w, $clamp-max-rend);
    }

    @if $w-min =='None' {
        $k: math.div(($clamp-max - $clamp-min), ($calc-2 - $calc-1));
        $b: $clamp-min - $k * $calc-1;
        $b: $b * 1px;
        @return clamp($clamp-min-rend, calc(#{$k} * 100vw + #{$b}), $clamp-max-rend);
    }

    @if $w-max !='None' {
        $k: math.div(($calc-2 - $calc-1), ($w-max - $w-min));
        $b: $calc-1 - $k * $w-min;
        $b: $b * 1px;
        @return clamp($clamp-min-rend, calc(#{$k} * 100vw + #{$b}), $clamp-max-rend);
    }
}

@mixin h1 {
    font-size: clampFluid(48);
    line-height: 1.25;
    font-weight: 600;
}

@mixin h2 {
    font-size: clampFluid(28);
    line-height: 1.25;
    font-weight: 600;
}

@mixin h3 {
    font-size: clampFluid(28);
    line-height: 1.25;
    font-weight: 600;
}

@mixin p1 {
    font-size: clampFluid(18);
    line-height: 1.3;
    font-weight: 400;
}

@mixin p2 {
    font-size: clampFluid(16);
    line-height: 1.3;
    font-weight: 400;
}

@mixin button {
    font-size: clampFluid(18);
    line-height: 1.3;
    font-weight: 600;
}