@use "@/base.scss";

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: base.clampFluid(1720);

    @media (min-width: 1920px) {
        max-width: 1720px;
    }

    @media (max-width: 1279px) {
        max-width: 100%;
        padding: 0 15px;
    }

    &-fluid {
        max-width: base.clampFluid(1860);

        @media (min-width: 1920px) {
            max-width: 1860px;
        }
    }

    &-sm {
        max-width: base.clampFluid(1260);

        @media (min-width: 1920px) {
            max-width: 1260px;
        }
    }

    &-no-paddding {
        @media (max-width: 1279px) {
            padding: 0;
        }
    }
}


.fullhd-container {
    max-width: 1920px;
    margin: 0 auto;
}

.link-cover {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.overflow {
    &-hidden {
        overflow: hidden;
    }

    &-auto {
        overflow: auto;
    }
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-block {
    margin-bottom: var(--page-block-margin);
    margin-top: var(--page-block-margin);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.h1 {
    @include base.h1;
}

.h2 {
    @include base.h2;
}

.h3 {
    @include base.h3;
}

.h4 {
    @include base.h4;
}

.p1 {
    @include base.p1;
}

.p2 {
    @include base.p2;
}

.button {
    @include base.button;
}

.red-text {
    color: base.$red;
}

.section-blocks-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: base.clampFluid(20);

    @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.block-title {
    margin-bottom: base.clampFluid(40);
}

.page-head+.page-block {
    margin-top: 0;
}