@use "@/base.scss";

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: base.clampFluid(1720);

    @media (min-width: 1920px) {
        max-width: 1720px;
    }

    @media (max-width: 1279px) {
        max-width: 100%;
        padding: 0 15px;
    }

    &-fluid {
        max-width: base.clampFluid(1860);

        @media (min-width: 1920px) {
            max-width: 1860px;
        }
    }

    &-sm {
        max-width: base.clampFluid(1260);

        @media (min-width: 1920px) {
            max-width: 1260px;
        }
    }

    &-no-paddding {
        @media (max-width: 1279px) {
            padding: 0;
        }
    }
}


.fullhd-container {
    max-width: 1920px;
    margin: 0 auto;
}

.link-cover {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.overflow {
    &-hidden {
        overflow: hidden;
    }

    &-auto {
        overflow: auto;
    }
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-block {
    margin-bottom: var(--page-block-margin);
    margin-top: var(--page-block-margin);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.h1 {
    @include base.h1;
}

.h2 {
    @include base.h2;
}

.h3 {
    @include base.h3;
}

.h4 {
    @include base.h4;
}

.p1 {
    @include base.p1;
}

.p2 {
    @include base.p2;
}

.button {
    @include base.button;
}

.red-text {
    color: base.$red;
}

.section-blocks-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: base.clampFluid(20);

    @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.block-title {
    margin-bottom: base.clampFluid(40);
}

.page-head+.page-block {
    margin-top: 0;
}

.votex-icon {
    display: inline-block;
    width: 1em;
    height: auto;
    aspect-ratio: 47/17;
    vertical-align: middle;
    background: url("data:image/svg+xml,%3Csvg width='512' height='186' viewBox='0 0 512 186' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M254.46 92.16C250.49 85.52 245.03 80.32 238.07 76.56C231.11 72.8 223.3 70.91 214.63 70.91C213.21 70.91 211.82 70.98 210.45 71.08L202.77 86.93C206.4 85.48 210.35 84.75 214.63 84.75C220.3 84.75 225.4 86.02 229.93 88.58C234.46 91.13 238.02 94.69 240.62 99.27C243.21 103.84 244.51 108.96 244.51 114.63C244.51 120.3 243.21 125.42 240.62 129.99C238.03 134.56 234.47 138.13 229.93 140.68C225.4 143.23 220.3 144.51 214.63 144.51C208.96 144.51 203.86 143.24 199.33 140.68C194.8 138.13 191.23 134.57 188.64 129.99C187.28 127.58 186.28 125.02 185.64 122.31L176.95 140.26C180.67 145.41 185.41 149.56 191.2 152.69C198.16 156.45 205.97 158.34 214.64 158.34C223.31 158.34 231.11 156.46 238.08 152.69C245.04 148.93 250.51 143.73 254.47 137.09C258.44 130.45 260.42 122.96 260.42 114.63C260.42 106.3 258.44 98.8 254.47 92.17L254.46 92.16Z' fill='%23646463'/%3E%3Cpath d='M290.66 85.48H262.49V72.12H334.62V85.48H306.45V157.12H290.66V85.48Z' fill='%23646463'/%3E%3Cpath d='M492.99 157.12L469.92 124.82L447.09 157.12H429.12L460.69 113.77L430.82 72.12H448.67L470.41 102.36L491.9 72.12H509.02L479.27 113.16L511.21 157.12H492.99Z' fill='%23646463'/%3E%3Cpath d='M428.97 120.15C429.17 118.35 429.29 116.51 429.29 114.62C429.29 111.96 429.07 109.4 428.66 106.91C427.8 101.6 426.04 96.67 423.34 92.15C419.37 85.51 413.91 80.31 406.95 76.55C399.99 72.79 392.18 70.9 383.51 70.9C374.84 70.9 367.04 72.78 360.07 76.55C353.11 80.31 347.64 85.54 343.68 92.21C339.71 98.89 337.73 106.36 337.73 114.61C337.73 122.86 339.71 130.33 343.68 137.01C347.65 143.69 353.11 148.91 360.07 152.67C367.03 156.43 374.84 158.32 383.51 158.32C392.18 158.32 399.98 156.44 406.95 152.67C413.91 148.91 419.37 143.71 423.34 137.07C424.06 135.87 424.69 134.63 425.28 133.37H407.24C404.95 136.34 402.15 138.77 398.81 140.65C394.28 143.2 389.18 144.48 383.51 144.48C377.84 144.48 372.74 143.2 368.21 140.65C363.67 138.1 360.11 134.54 357.52 129.96C355.8 126.93 354.66 123.64 354.09 120.13H428.97V120.15ZM354.53 106.91C355.18 104.21 356.17 101.66 357.53 99.26C360.12 94.69 363.68 91.12 368.22 88.57C372.75 86.02 377.85 84.74 383.52 84.74C389.19 84.74 394.29 86.02 398.82 88.57C403.35 91.12 406.91 94.68 409.51 99.26C410.87 101.66 411.86 104.21 412.51 106.91H354.53Z' fill='%23646463'/%3E%3Cpath d='M152.94 0L130.96 45.39L139.47 62.97L162.55 15.32H220.43L176.94 105.14L166.93 84.47L193.08 30.46H176.06L149.9 84.47L176.94 140.29L244.88 0H152.94Z' fill='%23BA282E'/%3E%3Cpath d='M91.93 0H0L67.96 140.33L76.47 122.75L24.45 15.32H82.33L151.38 157.9L145.23 170.62H99.65L93.5 157.9L113.9 115.78L105.39 98.2L76.47 157.91L90.05 185.94H154.83L168.38 157.95L91.93 0Z' fill='%23BA282E'/%3E%3C/svg%3E") center/cover no-repeat;
}