@use "@/base.scss";

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: base.clampFluid(1720);

    @media (min-width: 1920px) {
        max-width: 1720px;
    }

    @media (max-width: 1279px) {
        max-width: 100%;
        padding: 0 15px;
    }

    &-fluid {
        max-width: base.clampFluid(1860);

        @media (min-width: 1920px) {
            max-width: 1860px;
        }
    }

    &-sm {
        max-width: base.clampFluid(1260);

        @media (min-width: 1920px) {
            max-width: 1260px;
        }
    }

    &-no-paddding {
        @media (max-width: 1279px) {
            padding: 0;
        }
    }
}


.fullhd-container {
    max-width: 1920px;
    margin: 0 auto;
}

.link-cover {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.overflow {
    &-hidden {
        overflow: hidden;
    }

    &-auto {
        overflow: auto;
    }
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-block {
    margin-bottom: var(--page-block-margin);
    margin-top: var(--page-block-margin);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.h1 {
    @include base.h1;
}

.h2 {
    @include base.h2;
}

.h3 {
    @include base.h3;
}

.h4 {
    @include base.h4;
}

.p1 {
    @include base.p1;
}

.p2 {
    @include base.p2;
}

.button {
    @include base.button;
}

.red-text {
    color: base.$red;
}

.section-blocks-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: base.clampFluid(20);

    @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.block-title {
    margin-bottom: base.clampFluid(40);
}

.page-head+.page-block {
    margin-top: 0;
}

.votex-icon {
    display: inline-block;
    width: 1em;
    height: auto;
    aspect-ratio: 47/17;
    vertical-align: middle;
    background: url("data:image/svg+xml,%3Csvg width='512' height='186' viewBox='0 0 512 186' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M254.46 92.16C250.49 85.52 245.03 80.32 238.07 76.56C231.11 72.8 223.3 70.91 214.63 70.91C213.21 70.91 211.82 70.98 210.45 71.08L202.77 86.93C206.4 85.48 210.35 84.75 214.63 84.75C220.3 84.75 225.4 86.02 229.93 88.58C234.46 91.13 238.02 94.69 240.62 99.27C243.21 103.84 244.51 108.96 244.51 114.63C244.51 120.3 243.21 125.42 240.62 129.99C238.03 134.56 234.47 138.13 229.93 140.68C225.4 143.23 220.3 144.51 214.63 144.51C208.96 144.51 203.86 143.24 199.33 140.68C194.8 138.13 191.23 134.57 188.64 129.99C187.28 127.58 186.28 125.02 185.64 122.31L176.95 140.26C180.67 145.41 185.41 149.56 191.2 152.69C198.16 156.45 205.97 158.34 214.64 158.34C223.31 158.34 231.11 156.46 238.08 152.69C245.04 148.93 250.51 143.73 254.47 137.09C258.44 130.45 260.42 122.96 260.42 114.63C260.42 106.3 258.44 98.8 254.47 92.17L254.46 92.16Z' fill='%23646463'/%3E%3Cpath d='M290.66 85.48H262.49V72.12H334.62V85.48H306.45V157.12H290.66V85.48Z' fill='%23646463'/%3E%3Cpath d='M492.99 157.12L469.92 124.82L447.09 157.12H429.12L460.69 113.77L430.82 72.12H448.67L470.41 102.36L491.9 72.12H509.02L479.27 113.16L511.21 157.12H492.99Z' fill='%23646463'/%3E%3Cpath d='M428.97 120.15C429.17 118.35 429.29 116.51 429.29 114.62C429.29 111.96 429.07 109.4 428.66 106.91C427.8 101.6 426.04 96.67 423.34 92.15C419.37 85.51 413.91 80.31 406.95 76.55C399.99 72.79 392.18 70.9 383.51 70.9C374.84 70.9 367.04 72.78 360.07 76.55C353.11 80.31 347.64 85.54 343.68 92.21C339.71 98.89 337.73 106.36 337.73 114.61C337.73 122.86 339.71 130.33 343.68 137.01C347.65 143.69 353.11 148.91 360.07 152.67C367.03 156.43 374.84 158.32 383.51 158.32C392.18 158.32 399.98 156.44 406.95 152.67C413.91 148.91 419.37 143.71 423.34 137.07C424.06 135.87 424.69 134.63 425.28 133.37H407.24C404.95 136.34 402.15 138.77 398.81 140.65C394.28 143.2 389.18 144.48 383.51 144.48C377.84 144.48 372.74 143.2 368.21 140.65C363.67 138.1 360.11 134.54 357.52 129.96C355.8 126.93 354.66 123.64 354.09 120.13H428.97V120.15ZM354.53 106.91C355.18 104.21 356.17 101.66 357.53 99.26C360.12 94.69 363.68 91.12 368.22 88.57C372.75 86.02 377.85 84.74 383.52 84.74C389.19 84.74 394.29 86.02 398.82 88.57C403.35 91.12 406.91 94.68 409.51 99.26C410.87 101.66 411.86 104.21 412.51 106.91H354.53Z' fill='%23646463'/%3E%3Cpath d='M152.94 0L130.96 45.39L139.47 62.97L162.55 15.32H220.43L176.94 105.14L166.93 84.47L193.08 30.46H176.06L149.9 84.47L176.94 140.29L244.88 0H152.94Z' fill='%23BA282E'/%3E%3Cpath d='M91.93 0H0L67.96 140.33L76.47 122.75L24.45 15.32H82.33L151.38 157.9L145.23 170.62H99.65L93.5 157.9L113.9 115.78L105.39 98.2L76.47 157.91L90.05 185.94H154.83L168.38 157.95L91.93 0Z' fill='%23BA282E'/%3E%3C/svg%3E") center/cover no-repeat;
}

.votex-2-icon {
    display: inline-block;
    width: 1em;
    height: auto;
    aspect-ratio: 47/17;
    vertical-align: middle;
    background: url("data:image/svg+xml,%3Csvg width='49' height='18' viewBox='0 0 49 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.6 8.8C24.2 8.1 23.7 7.6 23 7.3C22.3 6.9 21.5 6.7 20.7 6.7C20.6 6.7 20.4 6.7 20.3 6.7H20.2L19.2 8.7L19.6 8.5C19.9 8.4 20.3 8.3 20.7 8.3C21.2 8.3 21.7 8.4 22.1 8.6C22.5 8.8 22.8 9.1 23 9.5C23.2 9.9 23.3 10.4 23.3 10.9C23.3 11.4 23.2 11.9 23 12.3C22.8 12.7 22.5 13 22.1 13.2C21.7 13.4 21.2 13.5 20.7 13.5C20.2 13.5 19.7 13.4 19.3 13.2C18.9 13 18.6 12.7 18.4 12.3C18.3 12.1 18.2 11.9 18.1 11.6L18 11.1L16.9 13.4L17 13.5C17.4 14 17.8 14.4 18.4 14.7C19.1 15.1 19.9 15.3 20.7 15.3C21.5 15.3 22.3 15.1 23 14.7C23.7 14.3 24.2 13.8 24.6 13.2C25 12.5 25.2 11.8 25.2 11C25.2 10.2 25 9.4 24.6 8.8Z' fill='%23434345'/%3E%3Cpath d='M32.1 6.8H24.9V8.5H27.6V15.3H29.5V8.5H32.1V6.8Z' fill='%23434345'/%3E%3Cpath d='M45.8 10.9L48.8 6.8H46.7L44.8 9.6L42.8 6.8H40.7L43.6 11L40.5 15.3H42.7L44.7 12.3L46.8 15.3H49L45.8 10.9Z' fill='%23434345'/%3E%3Cpath d='M40.8 12.7H38.7L38.6 12.8C38.4 13.1 38.1 13.3 37.9 13.4C37.5 13.6 37 13.7 36.5 13.7C36 13.7 35.5 13.6 35.1 13.4C34.7 13.2 34.4 12.9 34.2 12.5C34.1 12.3 34 12.1 33.9 11.8H40.8V11.6H41C41 11.4 41 11.2 41 11.1C41 10.8 41 10.6 40.9 10.3C40.8 9.8 40.6 9.3 40.4 8.8C40 8.1 39.5 7.6 38.8 7.3C38.1 6.9 37.3 6.7 36.5 6.7C35.7 6.7 34.9 6.9 34.2 7.3C33.5 7.7 33 8.2 32.6 8.9C32.2 9.6 32 10.3 32 11.1C32 11.9 32.2 12.7 32.6 13.3C33 14 33.5 14.5 34.2 14.9C34.9 15.3 35.7 15.5 36.5 15.5C37.3 15.5 38.1 15.3 38.8 14.9C39.5 14.5 40 14 40.4 13.4C40.5 13.3 40.5 13.2 40.6 13L40.8 12.7ZM34.1 10.1C34.2 9.9 34.2 9.8 34.3 9.6C34.5 9.2 34.8 8.9 35.2 8.7C35.6 8.5 36.1 8.4 36.6 8.4C37.1 8.4 37.6 8.5 38 8.7C38.4 8.9 38.7 9.2 38.9 9.6C39 9.7 39 9.9 39.1 10.1H34.1Z' fill='%23434345'/%3E%3Cpath d='M14.6 0L12.5 4.5L13.5 6.6L15.8 1.8H20.9L17 9.7L16.3 8.2L18.8 2.9H16.8L14.3 8.2L17 13.9L23.7 0H14.6Z' fill='%23BE0F34'/%3E%3Cpath d='M0 0L6.7 13.9L7.7 11.8L2.9 1.8H8L14.4 15.2L13.9 16.2H9.8L9.3 15.2L11.3 11.2L10.3 9.1L7.3 15.2L8.7 18H15L16.4 15.2L9.1 0H0Z' fill='%23BE0F34'/%3E%3C/svg%3E") center/cover no-repeat;
}