@use "@/base.scss";

.accordion {
    border-top: 1px solid #86869580;
    border-bottom: 1px solid #86869580;

    &__name {
        flex: 0 0 75%;
        text-align: left;
        @include base.h3;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: base.clampFluid(17) 0 base.clampFluid(17) base.clampFluid(20);
        cursor: pointer;
    }

    &__icon {
        font-size: base.clampFluid(24);
        flex: 0 0 auto;
        transition: transform .4s;

        &.open {
            transform: rotate(180deg);
        }
    }

    &__content {
        padding-bottom: base.clampFluid(20);
    }
}