@use "@/base.scss";

.about-company {
    .container {
        display: flex;
    }

    .img {
        width: 58%;
        margin-left: auto;
        flex: 0 0 auto;
    }

    .text-column {
        flex: 0 0 38%;
    }

    @media (max-width: 767px) {
        .container {
            flex-direction: column;
        }

        .img {
            width: 100%;
            flex-basis: 100%;
            margin-top: base.clampFluid(20);
        }
    }
}