@use "@/base.scss";

.breadcrumbs {
    ul {
        @include base.p2;

        li {
            display: inline;

            &:not(:first-child) {
                >span::before {
                    content: '/';
                }
            }

            &:last-child {
                color: rgba(base.$black, .43);
            }
        }
    }
}