.breadcrumbs {
    ul {
        color: $dark-gray;

        li {
            display: inline;

            &:not(:first-child){
                >span::before{
                    content: '-';
                }
            }
        }
    }
}