.callback-form {
    display: flex;
    flex-direction: column;
    gap: clampFluid(30);
    
    @media (max-width: 1279px) {
        gap: 20px;

        .personal {
            margin: 10px 0;
        }
    }

    @media (max-width: 767px) {
        .submit-btn {
            width: 100%;
        }
    }
}