@use "@/base.scss";

.callback-form {
    display: flex;
    flex-wrap: wrap;
    gap: base.clampFluid(19) base.clampFluid(30);

    .form-input {
        flex: 1 1 10%;
    }

    .submit-btn {
        flex: 0 0 auto;
    }

    .personal {
        flex: 0 0 100%;
        text-align: center;
    }

    @media (max-width: 1279px) {
        flex-direction: column;
    }
}