@use "@/base.scss";

.catalog-menu {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    padding: base.clampFluid(102) 0 base.clampFluid(26);
    background: #fff;

    .wrap {
        display: grid;
        grid-template-columns: 28% 1fr;
        gap: base.clampFluid(24);
        margin: 0 auto;
        max-width: 65.9%;
    }

    .link {
        &:hover {
            background: rgba(base.$red, 10%);
        }
    }

    .search-form {
        margin-bottom: base.clampFluid(30);
    }

    .section-logo {
        width: base.clampFluid(122);
        margin: base.clampFluid(32) auto 0;
        aspect-ratio: 1/1;
    }

    .left-column {
        .menu {
            display: flex;
            flex-direction: column;
            gap: base.clampFluid(20);
        }
    }

    .right-column {
        .submenu {
            height: 100%;
            padding: base.clampFluid(14) base.clampFluid(38) base.clampFluid(50);
            background: #F2F2F2;

            .title {
                margin-bottom: base.clampFluid(27);
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: base.clampFluid(48);
            }

            .column {
                display: flex;
                flex-direction: column;
                gap: base.clampFluid(24);
            }

            .column-title {
                font-weight: 700;
            }

            .item {
                color: #505665;
            }
        }
    }

    @media (max-width: 1279px) {
        position: static;
        padding: 16px 15px;

        .wrap {
            max-width: 100%;
            grid-template-columns: 100%;
            gap: 32px;
        }

        .search-form {
            margin-bottom: 30px;
        }

        .left-column {
            .menu {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .right-column {
            .submenu {
                padding: 0;
                background: transparent;

                .title {
                    display: none;
                }

                .grid {
                    grid-template-columns: 100%;
                    gap: 34px;
                }

                .column {
                    gap: 14px;

                    .column-title {}
                }
            }
        }

        .section-logo {
            display: none;
        }
    }
}