@use "@/base.scss";

.catalog-sections-grid {
    display: grid;
    gap: base.clampFluid(50);
    grid-template-columns: repeat(5, 1fr);

    @media (max-width: 1279px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
        grid-template-columns: 1fr;
    }
}