.catalog-menu {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    padding: clampFluid(102) 0 clampFluid(26);
    background: #fff;

    .wrap {
        display: grid;
        grid-template-columns: 28% 1fr;
        gap: clampFluid(24);
        margin: 0 auto;
        max-width: 65.9%;
    }

    .link {
        &:hover {
            background: rgba($red, 10%);
        }
    }

    .search-form {
        margin-bottom: clampFluid(30);
    }

    .section-logo {
        width: clampFluid(122);
        margin: clampFluid(32) auto 0;
        aspect-ratio: 1/1;
    }

    .left-column {
        .menu {
            display: flex;
            flex-direction: column;
            gap: clampFluid(20);

            .item {
                font-size: clampFluid(18);
                line-height: 1.3;
                font-weight: 600;
            }
        }
    }

    .right-column {
        .submenu {
            height: 100%;
            padding: clampFluid(14) clampFluid(38) clampFluid(50);
            background: #F2F2F2;

            .title {
                margin-bottom: clampFluid(27);
                font-size: clampFluid(28);
                line-height: 1.2;
                font-weight: 600;
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: clampFluid(48);
            }

            .column {
                display: flex;
                flex-direction: column;
                gap: clampFluid(24);
            }

            .column-title {
                font-weight: 700;
            }

            .item {
                font-size: clampFluid(16);
                color: #505665;
            }
        }
    }
}