@use "@/base.scss";

.feedback-section {
    position: relative;
    background: base.$bg;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 40%;
        background: base.$black;
    }

    .grid {
        display: grid;
        grid-template-columns: 46% 48%;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 base.clampFluid(200);
    }

    .img-col {
        position: relative;
        padding: base.clampFluid(10) 0 0;
        z-index: 1;

        .img {
            width: 100%;
            aspect-ratio: 607/455;
        }
    }

    .form-col {
        padding: base.clampFluid(40, 80) 0;

        .title {
            margin-bottom: base.clampFluid(25);
        }

        .text {
            width: 50%;
        }

        .callback-form {
            margin-top: base.clampFluid(40, 100);
        }
    }

    @media (max-width: 1279px) {
        .grid {
            padding: 0;
        }

        .form-col {
            .text {
                width: 70%;
            }
        }
    }

    @media (max-width: 767px) {
        &::before {
            display: none;
        }

        .img-col {
            display: none;
        }

        .grid {
            padding: 0;
            grid-template-columns: 100%;
        }

        .form-col {
            .title {
                text-align: center;
            }

            .text {
                width: 100%;
                text-align: center;
            }
        }
    }
}