.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    padding: clampFluid(8) 0 clampFluid(17);
    background: $white;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .catalog-button {
        display: flex;
        align-items: center;
        padding: clampFluid(10) clampFluid(16);
        font-size: clampFluid(16);
        line-height: 1.3;
        font-weight: 500;
        border: 1px solid #CBCCD1;

        .burger {
            width: clampFluid(8);
            margin-right: clampFluid(14);
            aspect-ratio: 1/1;
        }

        .catalog-logo {
            width: clampFluid(47);
            margin-left: clampFluid(6);
            aspect-ratio: 47/17;
        }
    }

    .logo {
        &-icon {
            width: clampFluid(96);
            aspect-ratio: 96/77;
        }
    }

    .menu {
        display: flex;
        gap: clampFluid(40);

        .parent {
            position: relative;

            .triangle-down-icon {
                color: $red;
                font-size: .6em;
            }

            &:hover {
                .submenu {
                    visibility: visible;
                    transition-delay: 0s;
                }
            }
        }

        .link {
            font-size: clampFluid(16);
            line-height: 1.3;
            font-weight: 500;
            white-space: nowrap;
        }

        .submenu {
            visibility: hidden;
            position: absolute;
            left: 0;
            top: calc(100% + #{clampFluid(15)});
            padding: clampFluid(10);
            border: 1px solid rgba($black, .3);
            background: #fff;
            transition-property: visibility;
            transition-delay: .3s;

            .link {
                padding: clampFluid(8);
                display: block;
            }
        }
    }

    .menu-left {
        display: flex;
        align-items: center;
        gap: clampFluid(40);
        margin: 0 auto 0 clampFluid(134);
    }

    .menu-right {
        margin: 0 clampFluid(76) 0 0;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: clampFluid(50);
        position: relative;
        aspect-ratio: 1/1;
        border: 1px solid rgba($black, .3);
        font-size: clampFluid(23);

        .count {
            display: flex;
            align-items: center;
            justify-content: center;
            width: clampFluid(18);
            position: absolute;
            top: clampFluid(3);
            right: clampFluid(3);
            aspect-ratio: 1/1;
            background: $red;
            font-size: clampFluid(10);
            line-height: 1;
            color: $white;
            border-radius: 50%;
        }
    }

    .lang-switch {
        margin-left: clampFluid(40);
    }

    @media (min-width: 1280px) {
        .phone {
            display: none;
        }
    }

    @media (max-width: 1279px) {
        padding: 8px 0 11px;

        .menu-left,
        .menu-right,
        .lang-switch {
            display: none;
        }

        .logo {
            margin-right: auto;

            &-icon {
                width: 68px;
            }
        }

        .action {
            width: 38px;
            font-size: 18px;

            .count {
                width: 18px;
                top: -8px;
                right: -8px;
                font-size: 10px;
            }
        }

        .phone {
            margin-left: 14px;
        }
    }
}