@use "@/base.scss";

.lang-switch {
    display: flex;
    align-items: center;
    gap: base.clampFluid(3);

    .line {
        width: 1px;
        height: 1em;
        background: currentColor;
    }

    a.glink{
        &.gt-current-lang{
            font-weight: inherit;
        }

        &:not(.gt-current-lang){
            color: rgba(base.$black, .3);
        }

        &:not(:first-child){
            border-left: 1px solid base.$black;
            padding-left: base.clampFluid(3);
        }
    }
}