.lang-switch {
    display: flex;
    align-items: center;
    gap: clampFluid(3);

    .line {
        width: 1px;
        height: 1em;
        background: currentColor;
    }

    .lang {
        font-size: clampFluid(16);
        line-height: 1.3;
        font-weight: 500;

        &:not(.active) {
            color: rgba($black, .3);
        }
    }
}