@use "@/base.scss";

.lang-switch {
    display: flex;
    align-items: center;
    gap: base.clampFluid(3);

    .line {
        width: 1px;
        height: 1em;
        background: currentColor;
    }

    .lang {
        &:not(.active) {
            color: rgba(base.$black, .3);
        }
    }
}