.main-screen {
    overflow: hidden;

    .slider-arrow {
        font-size: clampFluid(73);
    }

    .swiper-slide {
        height: clampFluid(670);
        padding: clampFluid(147) clampFluid(147) clampFluid(119);
        background: $bg;
    }

    .slider-controls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: clampFluid(33);
        gap: clampFluid(16);
    }

    .slider-pagination {
        display: flex;
        gap: clampFluid(6);

        .swiper-pagination-bullet {
            width: clampFluid(67);
            height: clampFluid(4);
            background: rgba($color: #434345, $alpha: .3);

            &.swiper-pagination-bullet-active {
                background: $red;
            }
        }
    }

    .text-column {
        height: 100%;
        width: 52%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            color: $white;
            @include h1;
        }

        .content-text {
            color: $white;
        }
    }

    .swiper {
        overflow: visible;
    }
}