.main-screen {
    overflow: hidden;

    .slider-arrow {
        font-size: clampFluid(73);
    }

    .swiper-slide {
        height: clampFluid(670);
        padding: clampFluid(147) clampFluid(147) clampFluid(119);
        background: $bg;
    }

    .slider-controls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: clampFluid(33);
        gap: clampFluid(16);
    }

    .slider-pagination {
        display: flex;
        gap: clampFluid(6);

        .swiper-pagination-bullet {
            width: clampFluid(67);
            height: clampFluid(4);
            background: rgba($color: #434345, $alpha: .3);

            &.swiper-pagination-bullet-active {
                background: $red;
            }
        }
    }

    .text-column {
        height: 100%;
        width: 52%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            color: $white;
            @include h1;
        }

        .content-text {
            width: 65%;
            color: $white;
        }
    }

    .swiper {
        overflow: visible;
    }

    @media (max-width: 1279px) {
        .slider-controls {
            margin-top: 15px;
            padding: 0 10px;
            gap: 9px;
        }

        .container {
            padding: 0;
        }

        .swiper-slide {
            padding: 24px 15px;
            height: 427px;
        }

        .bg {
            object-position: 80% 0;
        }

        .text-column {
            width: 100%;
            justify-content: flex-end;

            .title {
                font-size: 21px;
            }

            .content-text {
                width: 100%;
                margin-top: 20px;
            }
        }

        .slider-arrow {
            font-size: 46px;
        }

        .slider-pagination {
            gap: 6px;
            flex: 1 0 auto;

            .swiper-pagination-bullet {
                width: auto;
                flex: 1 0 auto;
            }
        }
    }
}