@use "@/base.scss";

.mobile-nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: #fff;
    border-top: 1px solid base.$bg;

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 4px 0 6px;
        color: #A1A7B5;

        .icon {
            font-size: 35px;
        }

        .text {
            font-size: 8px;
            line-height: 1.3;
        }

        &.active {
            color: base.$red;
        }
    }

    @media (min-width: 1280px) {
        display: none;
    }
}