.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clampFluid(40);
    line-height: 1;

    .next,
    .prev,
    .page-num {
        display: flex;
        align-items: center;
        width: clampFluid(30);
        height: clampFluid(30);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid currentColor;
        border-radius: clampFluid(5);

        &.current {
            color: $blue;
        }

        &.inactive {
            pointer-events: none;
            color: $dark-gray;
        }

        &:hover {
            color: $purple;
        }
    }

    .prev {
        transform: rotate(180deg);
    }

    .pages {
        display: flex;
        gap: clampFluid(5);
        margin: 0 clampFluid(20);
    }
}