@use "@/base.scss";

.product-section {
    .top {
        display: grid;
        grid-template-columns: 45% 47%;
        gap: base.clampFluid(60);
        align-items: start;
        position: relative;
    }

    .to-wishlist {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        width: base.clampFluid(55);
        z-index: 1;
        font-size: base.clampFluid(23);
        aspect-ratio: 1/1;
        border: 1px solid base.$red;
        border-radius: 50%;

        .heart-filled-icon {
            color: base.$red;
        }
    }

    .slider-column {
        position: relative;

        .thumbs-swiper {
            width: 100%;
            height: 90%;
            overflow: visible;

            .swiper-slide {
                border: 1px solid transparent;

                &.swiper-slide-thumb-active {
                    border-color: base.$red;
                }
            }

            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .thumbs-wrap {
            position: absolute;
            top: 0;
            right: calc(100% + #{base.clampFluid(20)});
            width: base.clampFluid(79);
            height: 100%;
            overflow: hidden;
        }

        .main-swiper {
            .content-gallery-item {
                &__img {
                    aspect-ratio: 570/760;
                }
            }
        }

        .slider-arrow {
            position: absolute;
            top: 50%;
            z-index: 1;
            font-size: base.clampFluid(42);

            &--prev {
                left: base.clampFluid(16);
            }

            &--next {
                right: base.clampFluid(16);
            }
        }
    }

    .info-column {
        padding-top: base.clampFluid(20);

        .title {
            margin-bottom: base.clampFluid(24);
        }

        .product-offer {
            margin-bottom: base.clampFluid(24);
        }

        .props-list {}
    }

    .marketplace {

        margin-top: base.clampFluid(24);

        .page-link {
            margin-bottom: base.clampFluid(40);
        }

        .marketplace-link {
            font-size: base.clampFluid(58);

            &:not(:last-child) {
                margin-bottom: base.clampFluid(24);
            }
        }
    }

    @media (max-width: 1279px) {
        .top {
            grid-template-columns: 100%;
        }

        .to-wishlist {
            border-color: transparent;
            right: 20px;
            top: 7px;
            background: rgba(base.$bg, .8);
        }

        .slider-column {
            width: 80%;
            margin-left: auto;
        }
    }

    @media (max-width: 767px) {
        .slider-column {
            width: auto;
            margin: 0 -15px;
            padding: 0 15px;
            overflow: hidden;

            .thumbs-wrap {
                width: 90%;
                height: auto;
                position: static;
                margin-top: 11px;
                overflow: visible;
            }
        }
    }
}