@use "@/base.scss";

.slider-dot-pagination {
    display: flex;
    justify-content: center;
    gap: base.clampFluid(10);

    .swiper-pagination-bullet {
        display: block;
        width: base.clampFluid(10);
        height: base.clampFluid(10);
        border-radius: 50%;
        background: base.$gray;
        cursor: pointer;

        &.swiper-pagination-bullet-active {
            background: base.$black;
        }
    }
}