@use "@/base.scss";

.vacancy-block {
    padding: base.clampFluid(30);
    border: 1px solid rgba($color: base.$black, $alpha: .2);

    .title,
    .payment,
    .text {
        margin-bottom: base.clampFluid(20);
    }
}