@use "@/base.scss";

.votex-sections {
    padding: base.clampFluid(56) 0 base.clampFluid(85);
    background: base.$bg;

    .logo-column {
        grid-row: span 2;
    }

    .logo {
        display: inline-flex;
        flex-direction: column;

        .votex-icon {
            width: base.clampFluid(141);
            aspect-ratio: 141/51;
        }

        .text {
            opacity: 0.5;
            text-align: right;
        }
    }


    .top {
        @include base.label-columns-grid;

        .text-column {
            display: grid;
            grid-template-columns: 12% 26.7% 23.6%;
            justify-content: space-between;
            gap: base.clampFluid(32) 0;

            .link-column {
                align-self: flex-end;
            }
        }
    }

    .section-blocks-grid {
        margin-top: base.clampFluid(54);
    }

    @media (max-width: 1279px) {
        .logo-column {
            grid-row: auto;
        }

        .logo {
            &-icon {
                width: 118px;
            }
        }

        .link-column {
            order: 1;
        }

        .top {
            grid-template-columns: 100%;

            .text-column {
                grid-template-columns: 100%;
                gap: 16px;
            }
        }
    }
}