.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include p1;

    input {
        display: none;

        &:checked+.checkbox {

            .icon {
                opacity: 1;
            }
        }
    }

    .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: clampFluid(20);
        height: clampFluid(20);
        margin-right: clampFluid(12);
        flex: 0 0 auto;
        font-size: clampFluid(20);
        border: 1px solid $blue;
        border-radius: 5px;

        .icon {
            opacity: 0;
            color: $blue;
        }
    }

    @media (max-width: 1279px) {
        .checkbox {
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
    }
}