@use "@/base.scss";

.form-input {
    display: block;
    position: relative;
    width: 100%;
    transition: border-color .4s;

    &__field {
        width: 100%;

        &::placeholder {
            color: var(--placeholder-color);
        }

        &--md {
            padding: base.clampFluid(4) 0;
            @include base.p1;
        }

        &--underline-gray {
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid var(--invalid-color, base.$gray);
            background: transparent;
            color: base.$black;
            --placeholder-color: #{base.$gray};
        }
    }

    &__textarea {
        display: block;
        resize: none;

        &--outline-gray {
            border: 1px solid var(--invalid-color, base.$gray);
            background: transparent;
            color: base.$black;
            --placeholder-color: #{base.$gray};
        }

        &--md {
            padding: base.clampFluid(12);
            @include base.p1;
        }
    }

    &--invalid {
        --invalid-color: #B12B2B;
    }
}