@use "@/base.scss";

.label {
    display: inline-flex;
    padding: .5em .9em;
    color: var(--text-color);
    border: 1px solid var(--border-color);

    &--gray {
        opacity: 0.5;
        --border-color: #{rgba(#A1A7B5, .5)};
        --text-color: #{rgba(base.$black, .8)};
    }
}