@use "@/base.scss";

.marketplace-link {
    display: flex;
    align-items: center;

    &__logo {
        width: 1em;
        height: 1em;
        display: inline-flex;
    }

    &__text {
        margin-left: 1em;
        @include base.button;
    }
}