.page-link {
    color: $red;
    font-size: clampFluid(18);
    line-height: 1.3;
    font-weight: 600;

    &__arrow {
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentColor;
        font-size: .75em;
    }

    &:hover {
        background: rgba($color: $red, $alpha: .1);
    }
}