@use "@/base.scss";

.page-link {
    color: base.$red;

    &__arrow {
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentColor;
        font-size: .75em;
    }

    &:hover {
        background: rgba($color: base.$red, $alpha: .1);
    }

    @media (max-width: 1279px) {
        font-size: 16px;
    }
}