.range-slider {
    .noUi {
        &-marker-large {
            display: none;
        }

        &-horizontal {
            height: 18px;

            .noUi-handle {
                width: clampFluid(10);
                height: clampFluid(10);
                top: 0;
                right: 0;
                transform: translate(50%, 42%);

                &::before,
                &::after {
                    display: none;
                }
            }
        }

        &-handle {
            background: var(--handle-color);
            border: 0;
            border-radius: 50%;
            box-shadow: none;
        }

        &-target {
            background: transparent;
            border: 0;
            box-shadow: none;
        }

        &-base {
            display: flex;
            align-items: center;
        }

        &-pips {
            display: flex;
            justify-content: space-between;
            height: 100%;
            top: 0;

            &-horizontal {
                height: auto;
                padding: 0;
            }
        }

        &-connect {
            background: var(--connect-color);
        }

        &-connects {
            height: clampFluid(2);
            background: var(--connects-color);
            border-radius: 0;
        }

        &-value {
            position: static;
            margin-top: clampFluid(20);
            @include p2;
            color: var(--value-color);

            &-horizontal {
                transform: none;
            }
        }

        &-tooltip {
            padding: 0 0 clampFluid(8);
            font-size: clampFluid(18);
            line-height: 1.4;
            color: var(--tooltip-color);
            border: 0;
            background: transparent;
        }

        &-marker {
            background: var(--marker-color);
        }

        &-marker-horizontal.noUi-marker {
            height: clampFluid(16);
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    &--blue {
        --marker-color: #{$blue};
        --tooltip-color: #{$blue};
        --value-color: #{$black};
        --connect-color: #{$blue};
        --handle-color: #{$blue};
        --connects-color: #F4F4F4;
    }
}