@use "@/base.scss";

.alert {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: base.clampFluid(24);
    position: relative;
    border: 1px solid transparent;
    border-radius: base.clampFluid(10);
    padding: base.clampFluid(20);
    overflow: hidden;
    background: var(--bg-color);

    &__body {
        display: flex;
        flex-direction: column;
        gap: base.clampFluid(5);
        padding: base.clampFluid(10);
    }

    &__close {
        display: flex;
        color: var(--close-color);
    }

    &__title {
        color: var(--title-color);
        @include base.h3;
    }

    &__text {
        color: var(--text-color);
        @include base.p1;
    }

    &__timer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: base.clampFluid(5);
        background: var(--timer-bg);

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: var(--timer-color);
            transform-origin: left center;
            animation: shrinkX var(--timer-timeout) linear 0s 1 normal forwards;
        }
    }

    &--bottom-right {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 10;
    }

    &--success {
        --close-color: #008000;
        --bg-color: #c1ffc1;
        --text-color: #008000;
        --title-color: #008000;
        --timer-bg: transparent;
        --timer-color: #87e787;
    }
}