@use "@/base.scss";

.partners-slider {
    overflow: hidden;

    .swiper {
        overflow: visible;
    }

    .swiper-slide {
        width: base.clampFluid(147, 200);
        aspect-ratio: 200/110;
        background: base.$bg;

        .img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            object-position: center;
        }
    }
}